/* Color Scheme

  Main: #2b90d9
  Grey: #d9e1e8
  Darker: #9baec8
  Black: #282c37
  Green: #37b24d

*/



* {
    margin: 0;
    padding: 0;
    font-family: 'Aller', sans-serif;
    box-sizing: border-box;
    color: #282c37;
  }

  /* NAVBAR Content */
  body{
    height: 1000px;
  }

  nav{
    display: flex;
    /* justify-content: space-around; */
    flex-direction: row;
    gap: 32px;
    background-color: rgba(0, 0, 0, 0);
    color: #d9e1e8;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    border-bottom: 2px solid #d9e1e8;
  }

  nav ul li a{
    color: #d9e1e8;
    text-decoration: none;
  }

  nav ul li:hover{
    text-decoration: none;
    background-color: #d9e1e8;
    transition: 500ms;
  }

  nav ul li:hover a{
    color: #282c37;
    transition: 500ms;
  }

  nav ul {
    display: flex;
  }

  nav ul li{
    display: table;
    height: 50px;
    list-style-type: none;
    table-layout: fixed;
    width: max-content;
    padding-left: 8px;
    padding-right: 8px;
  }

  nav ul li a{
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    width: 100%;
  }

  nav ul:first-child{
    margin-left: 1.5%;
  }
  nav h2, nav ul li{
    font-family: 'Roboto', sans-serif;
    letter-spacing: 4px;
    font-size: 0.9em;
  }

  nav h2{
    align-self: center;
    margin-left: auto;
    margin-right: auto;
    color: #d9e1e8;
  }

  /* HEADER Content */
  header{
    background-image: url("../Elements/Images/donate/download.jpeg");
    width: 100vw;
    height: 40vh;
    background-size: cover;
    background-position: 10%;
  }

  .top-row-heading{
    text-align: center;
    margin-top: 6%;
    width: 80em;
    margin-left: auto;
    margin-right: auto;
  }

  .top-row-heading h2{
    color:  #37b24d;
  }

  .top-row-heading p{
    margin-top: 2%;
    margin-bottom: 4%;
    font-size: 25;
    font-weight: 400;
    font-family: 'Sofia Sans Condensed', sans-serif;
  }

  .sponsor-donor{
    display: grid;
    row-gap: 25px;
    column-gap: 25px;
    align-items: start;
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
}

  .sponsor-one{grid-row: 1; grid-column: 1;}
  .sponsor-two{grid-row: 1; grid-column: 2;}
  .sponsor-three{grid-row: 2; grid-column: 1;text-align: center;}
  .sponsor-four{grid-row: 2; grid-column: 2;text-align: center;}

  .sponsor-four h3{
    color: #282c37;
    letter-spacing: 1px;
    margin-bottom: 1%;
  }

  .sponsor-three h3{
    color: #282c37;
    letter-spacing: 1.5px;
    margin-bottom: 1%;
  }

  .sponsor-three p{
    font-family: 'Sofia Sans Condensed', sans-serif;
    font-size: 22px;
    letter-spacing: 0.5px;
    margin-bottom: 3%;
  }

  .sponsor-four p{
    font-family: 'Sofia Sans Condensed', sans-serif;
    font-size: 22px;
    letter-spacing: 0.5px;
    margin-bottom: 3%;
  }

  /* .sponsor-donor-text{
    margin-top: 2%;
    display: flex;
    gap: 32px;
    justify-content: center;
  } */
  /* FOOTER */
   footer{
    display: flex;
    justify-content: space-around;
    margin-top: 5%;
    background-color: #282c37;
    color: #d9e1e8;
   }

   footer div{
    display: flex;
    flex-direction: column;
   }
   .insta{
    width: 30px;
    height: 30px;
    fill: #d9e1e8;
   }

   .discord{
    width: 30px;
    height: 30px;
    fill: #d9e1e8;
   }

   .linktree{
    width: 30px;
    height: 30px;
    fill: #d9e1e8;
   }