/* Color Scheme

  Main: #2b90d9
  Grey: #d9e1e8
  Darker: #9baec8
  Black: #282c37
  Green: #37b24d

*/
* {
    margin: 0;
    padding: 0;
    font-family: 'Aller', sans-serif;
    box-sizing: border-box;
    color: #282c37;
  }

  /* NAVBAR Content  for experiment*/
  /* body{
    height: 1000px;
  } */

  nav{
    display: flex;
    /* justify-content: space-around; */
    flex-direction: row;
    gap: 32px;
    background-color: rgba(0, 0, 0, 0);
    color: #d9e1e8;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    border-bottom: 2px solid #d9e1e8;
  }

  nav ul li a{
    color: #d9e1e8;
    text-decoration: none;
  }

  nav ul li:hover{
    text-decoration: none;
    background-color: #d9e1e8;
    transition: 500ms;
  }

  nav ul li:hover a{
    color: #282c37;
    transition: 500ms;
  }

  nav ul {
    display: flex;
  }

  nav ul li{
    display: table;
    height: 50px;
    list-style-type: none;
    table-layout: fixed;
    width: max-content;
    padding-left: 8px;
    padding-right: 8px;
  }

  nav ul li a{
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    width: 100%;
  }

  nav ul:first-child{
    margin-left: 1.5%;
  }
  nav h2, nav ul li{
    font-family: 'Roboto', sans-serif;
    letter-spacing: 4px;
    font-size: 0.9em;
  }

  nav h2{
    align-self: center;
    margin-left: auto;
    margin-right: auto;
    color: #d9e1e8;
  }

  /* HEADER Content */
  header{
    background-image: url("../Elements/Images/eboard/header.jpg");
    height: 78vh;
    background-size:cover;
    background-position: 83% 17%;
  }

  header h1{
    text-align: center;
    padding-top: 20%;
    padding-bottom: auto;
    color: #d9e1e8;
    font-size: 50;
  }

  .article-heading{
    color:#37b24d;

  }
  .article-content{
    margin-left:auto;
    margin-right: auto;
    margin-top: 2%;
    text-align: center;
    width: 85vw;
  }

  .article-content p{
    font-size:20;
    padding-top: 2%;
  }

  .role-table{
    margin-top: 25px;
    display: grid;
    grid-template-columns: auto auto;
    justify-items: center;
    align-items: center;
    row-gap: 30px;
  }

  .role-table div{
    background-image: url("../Elements/Images/eboard/shangchi.jpg") ;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 30vw;
    height: 60vh;
    text-align: center;
  }

  .role-table div:hover{
    opacity: 0.2;
    transition-duration:1s;
  }

  .img-grid{
    display: grid;
    grid-template-columns: auto auto;
    width: 90vw;
    margin-left: auto;
    margin-right: auto;
  }

  .img-grid div img{
    width: 40vw;
    margin-top: 4%;
  }
  /* FOOTER */
   footer{
    display: flex;
    justify-content: space-around;
    margin-top: 5%;
    background-color: #282c37;
   }

   footer p{
    color: #d9e1e8;
  }

   footer div{
    display: flex;
    flex-direction: column;
   }
   .insta{
    width: 30px;
    height: 30px;
    fill: #d9e1e8;
   }

   .discord{
    width: 30px;
    height: 30px;
    fill: #d9e1e8;
   }

   .linktree{
    width: 30px;
    height: 30px;
    fill: #d9e1e8;
   }