body {
    background-color: darkblue;
    color: white;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0px;
    overflow : hidden;
    background-color: #102cc9;
}
li {
    float: left;
}
li a {
    display: block;
    padding: 10px;
    text-align: center;
    color: greenyellow;
    text-decoration: none;
}
li a:hover{
    background-color: aqua;
    color: black;   
}
slide-container{
    max-width: 100px;
    position:relative;
    margin: auto;
    background-color: black;
}
.Image{
    display:none;
}
.prev, .next{
    cursor: pointer;
    position: absolute;
    top: 50%;
  width: auto;
  margin-top: 200px;
  padding: 16px;
  color: brown;
  font-weight: bold;
  font-size: 25px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
    color: white;
}
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
    padding-top: 6px;
}