/* Color Scheme

  Main: #2b90d9
  Grey: #d9e1e8
  Darker: #9baec8
  Black: #282c37
  Green: #37b24d

*/



* {
  margin: 0;
  padding: 0;
  font-family: 'Aller', sans-serif;
  box-sizing: border-box;
  color: #282c37;
}

/* NAVBAR Content */
body{
  height: 1000px;
}

nav{
  display: flex;
  /* justify-content: space-around; */
  flex-direction: row;
  gap: 32px;
  background-color: rgba(0, 0, 0, 0);
  color: #d9e1e8;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  border-bottom: 2px solid #d9e1e8;
}

nav ul li a{
  color: #d9e1e8;
  text-decoration: none;
}

nav ul li:hover{
  text-decoration: none;
  background-color: #d9e1e8;
  transition: 500ms;
}

nav ul li:hover a{
  color: #282c37;
  transition: 500ms;
}

nav ul {
  display: flex;
}

nav ul li{
  display: table;
  height: 50px;
  list-style-type: none;
  table-layout: fixed;
  width: max-content;
  padding-left: 8px;
  padding-right: 8px;
}

nav ul li a{
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  width: 100%;
}

nav ul:first-child{
  margin-left: 1.5%;
}
nav h2, nav ul li{
  font-family: 'Roboto', sans-serif;
  letter-spacing: 4px;
  font-size: 0.9em;
}

nav h2{
  align-self: center;
  margin-left: auto;
  margin-right: auto;
  color: #d9e1e8;
}

/* HEADER Content */

header{
  width: 100%;
  background-image: url("./Elements/Images/img_1.jpg");
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header h1, header h3{
  color: #d9e1e8;
}

header h1{
  margin-top: 22%;
}

/* written content */

.three-img{
  display: flex;
  width: 100%;
  flex-wrap: nowrap;
  gap: 35px;
  margin-top: 2%;
  justify-content: center;
}

.three-img div img{
  width: 25em;
  max-width: 100%;
}

.three-img div{
  width: 25em;
  overflow-wrap: break-word;
  text-align: center;
}

.top-row-heading{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 6%;
  width: 80em;
}

.article-heading{
  color: #9baec8;
  color:#37b24d;
}

.img-note{
  width: 100%;
  height: 75vh;
  background-image: url("./Elements/Images/bottom_index_img.jpg");
  background-size: cover;
  padding-top: 10%;
  padding-left: 10%;
  padding-bottom: 10%;
}

.img--note{
  height: 15em;
  width: 32em;
  background-color: rgba(255, 255, 255, 0.55);
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 24px;
  justify-content:center;
}

/* FOOTER */
 footer{
  display: flex;
  justify-content: space-around;
  margin-top: 5%;
  background-color: #282c37;
  color: #d9e1e8;
 }

 footer div{
  display: flex;
  flex-direction: column;
 }
 .insta{
  width: 30px;
  height: 30px;
  fill: #d9e1e8;
 }

 .discord{
  width: 30px;
  height: 30px;
  fill: #d9e1e8;
 }

 .linktree{
  width: 30px;
  height: 30px;
  fill: #d9e1e8;
 }