body {
    background-color: darkblue;
    color: white;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0px;
    overflow : hidden;
    background-color: #102cc9;
}
li {
    float: left;
}
li a {
    display: block;
    padding: 10px;
    text-align: center;
    color: greenyellow;
    text-decoration: none;
}
li a:hover{
    background-color: aqua;
    color: black;   
}
.flt-left{
  float:left;
}
.carousel{
  width:100%;
  margin:auto;
}
.row{
  width:90%;
  padding:0;
  overflow:hidden;
  margin:auto;
}
.row-container{
  width:2000px;
  transition:0.5s;
}
.container{
  width:250px;
  
  float:left;
  display:inline;
  margin:0 5px;
}
.clear{
  clear:both;
}
.controls{
  width:100%;
  margin:auto;
}
button{
  border:none;
  padding:10px 20px;
  color:white;
  background:#21252b;
  font-weight:bold;
  outline:none;
  border-radius:3px;
  height:200px;
}
